<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Francesco: Menú Delivery </title>
    <link rel="shortcut icon" href="static/img/LOGO Y FAVICON/FAVICON EDITADO BUENA DEFINICION.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <header>

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: left; width: 22%">

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: right; width: 22%;">

        <h1 style=text-align:center> Francesco, pizza a la piedra. <br> <br> Cocinando las mejores pizzas para vos
            <i>desde
                1985.</i>
        </h1>

    </header>

    <nav>

        <br> <br> <br> <br>

        <a href="../index.html">INICIO</a> <br>

        <a href="./menu_salon.html">Menú Salón</a> <br>

        <a href="./registrate.html">Registrate</a> <br>
        
        <br> <br> <br> <br>

    </nav>

    <main>
        <section>

            <h2> <u>Pizzas</u> </h2>

            <table border="10">

<tr>
    <th>VARIEDAD</th>
    <th>CHICA <br> <i>(4 porciones)</i> </th>
    <th>GRANDE <br> <i>(8 porciones)</i> </th>
</tr>

<tr>
    <td> <strong>Muzzarella </strong> <i>(Salsa de Tomate, Muzzarrella, Aceitunas Verdes, Orégano)</i> </td>
    <td>$5000</td>
    <td>$8000</td>
</tr>
<tr>
    <td><strong>Muzzarella con Albahaca</strong> <i>(Salsa de Tomate, Muzzarrella, Albahaca, Aceitunas Verdes, Orégano)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>

<tr>
    <td><strong>Muzzarella con Rúcula</strong> <i>(Salsa de Tomate, Muzzarrella, Rúcula, Aceitunas Verdes, Orégano)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>

<tr>
    <td><strong>Muzzarella con Anchoas</strong> <i>(Salsa de Tomate, Muzzarrella, Anchoas, Aceitunas Verdes, Orégano)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>

<tr>
    <td><strong>Anchoas</strong> <i>(Salsa de Tomate, Anchoas, Orégano)</i></td>
    <td>$5000</td>
    <td>$8000</td>
<tr>

    <tr>
        <td><strong>Ajo al Olio</strong> <i>(Salsa de Tomate, Ajo picado, Perejil)</i></td>
        <td>$3000</td>
        <td>$5000</td>
    </tr>

    <tr>
        <td> <strong>Jamón</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Aceitunas Verdes, Orégano)</i> </td>
        <td>$6000</td>
        <td>$9000</td>
    </tr>

    <td> <strong>Especial</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Morrones, Aceitunas Verdes, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td><strong>Nevada</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Huevo Duro, Aceitunas Verdes, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

</tr>
<tr>
    <td><strong>Napolitana</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Orégano, Ajo, Perejil)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>
<tr>
    <td><strong>Napolitana con Albahaca</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Albahaca, Orégano, Ajo, Perejil)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>
<tr>
    <td><strong>Napolitana Especial</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Jamón, Orégano, Ajo, Perejil)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td> <strong>Calabresa </strong> <i>(Salsa de Tomate, Muzzarrella, Longaniza Calabresa, Orégano)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>
<tr>
    <td><strong> Española</strong> <i>(Salsa de Tomate, Muzzarrella, Cantimpalo, Morrones, Aceitunas Verdes, Orégano)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td> <strong> Panceta </strong> <i>(Salsa de Tomate, Muzzarrella, Panceta, Cebolla de Verdeo, Aceitunas Verdes, Orégano)</i></td>
    <td>$6500</td>  
    <td>$10000</td>
</tr>

<tr>
    <td> <strong>Sorrentina </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Gratinado de Provolone, Morrones, Orégano)</i></td>
    <td>$7000</td>
    <td>$11000</td>
</tr>

<tr>
    <td> <strong>Roquefort </strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort Aceitunas, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td> <strong>Provolone </strong> <i>(Salsa de Tomate, Muzzarrella, Provolone, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td> <strong> 4 Quesos </strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort, Provolone, Reggianito, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td><strong>Siciliana </strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Huevo Duro, Longaniza Calabresa, Aceitunas Verdes, Orégano)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td><strong>Champiñón </strong> <i>(Salsa de Tomate, Muzzarrella, Champiñones, Orégano)</i></td>
    <td>$7500</td>
    <td>$11000</td>
</tr>

<tr>
    <td><strong>Palmitos </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Palmitos, Salsa Golf, Aceitunas Negras, Orégano)</i></td>
    <td>$10000</td>
    <td>$16000</td>
</tr>

<tr>
    <td><strong>Palmitos a la Romana</strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort, Jamón, Palmitos, Morrones, Aceitunas Negras, Orégano)</i></td>
    <td>$10500</td>
    <td>$17000</td>
</tr>

<tr>
    <td><strong> Ananá</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Rodajas de Ananá, Cerezas)</i></td>
    <td>$8000</td>
    <td>$12000</td>
</tr>

<tr>
    <td><strong>Fugazza</strong> <i>(Cebolla, Aceite de Oliva, Orégano)</i></td>
    <td>$4000</td>
    <td>$7000</td>
</tr>
<tr>
    <td><strong>Fugazzetta </strong> <i>(Muzzarella, Cebolla, Aceite de Oliva, Orégano)</i></td>
    <td>$5500</td>
    <td>$8500</td>
</tr>

<tr>
    <td><strong>Fugazzetta Especial</strong> <i>(Muzzarella, Cebolla, Jamón, Aceite de Oliva, Orégano)</i></td>
    <td>$6000</td>
    <td>$9000</td>
</tr>

<tr>
    <td><strong>Fugazzetta con Roquefort </strong> <i>(Muzzarella, Cebolla, Roquefort, Aceite de Oliva, Orégano)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td><strong>Fugazzetta Rellena </strong> <i>(Doble masa rellena con Muzzarella, cubierta con Cebolla y Gratinado de Provolone)</i></td>
    <td>$7500</td>
    <td>$11000</td>
</tr>

<tr>
    <td><strong>Fugazzetta Rellena Especial </strong> <i> (Doble masa rellena con Muzzarella y Jamón, cubierta con Cebolla y Gratinado de Provolone)</i></td>
    <td>$8000</td>
    <td>$12000</td>
</tr>

<tr>
    <td><strong>Fugazzetta Rellena Napolitana </strong> <i>(Doble masa rellena con Muzzarella, Jamón, Rodajas de Tomate y Ajo, cubierta con Cebolla y Gratinado de Provolone)</i></td>
    <td>$8500</td>
    <td>$13000</td>
</tr>

<tr>
    <td><strong>Rúcula </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón Crudo, Rúcula, Aceitunas Verdes, Orégano)</i></td>
    <td>$7500</td>
    <td>$11000</td>
</tr>

<tr>
    <td><strong> Pollo </strong> <i>(Salsa de Tomate, Muzzarrella, Pollo Salteado, Morrones, Aceitunas Verdes, Orégano, Perejil)</i></td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

<tr>
    <td> <strong> Espinaca </strong> <i>(Salsa de Tomate, Muzzarrella, Espinaca, Gratinado de Provolone, Aceitunas Verdes, Orégano)</i> </td>
    <td>$6500</td>
    <td>$10000</td>
</tr>

            </table>

            <br> <br> <br>

            <img src="../static/img/PIZZAS/PROVOLONE EDITADA.jpg" alt="PROVOLONE" width="25%" height="250px">
            <p>PROVOLONE</p>
                <img src="../static/img/PIZZAS/NAPOLITANA EDITADA 2.jpg" alt="NAPOLITANA" width="25%" height="250px">
                <p>NAPOLITANA</p>
                <img src="../static/img/PIZZAS/PANCETA EDITADA.jpg" alt="PANCETA" width="25%" height="250px" height="250px">
                <p>PANCETA</p>
                <img src="../static/img/PIZZAS/Rúcula-Española EDITADA.jpg" alt="Rúcula/Española" width="25%" height="250px" height="200px">
<p>RÚCULA / ESPAÑOLA</p>
<img src="../static/img/PIZZAS/ESPECIAL-CHAMPIGÑON EDITADA.jpg" alt="ESPECIAL / CHAMPIÑÓN" width="25%" height="250px">
<p>ESPECIAL / CHAMPIÑÓN</p>

        </section>

        <section>

            <h2><u>Calzones</u></h2>

            <table border="7">

                <tr>
                    <th> VARIEDAD</th>
                    <th>CHICO <br> <i>(4 porciones)</i> </th>
                    <th>GRANDE <br> <i>(8 porciones)</i> </th>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone Napolitano</strong> <i>(Muzzarella, Jamón, Tomate, Ajo) </i></td>
                    <td>$6500</td>
                    <td>$11000</td>
                  
                </tr>

                <tr>
                    <td> <strong>Calzone Calabrés</strong> <i>(Muzzarella, Jamón, Provolone, Longaniza Calabresa) </i> </td>
                    <td>$7500</td>
                    <td>$12000</td>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone de Pollo</strong> <i>(Muzzarella, Jamón, Pollo Salteado, Morrones)</i></td>
                    <td>$7500</td>
                    <td>$12000</td>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone de Verdura</strong> <i>(Muzzarella, Jamón, Espinaca, Provolone, Morrones)</i> </td>
                    <td>$7500</td>
                    <td>$12000</td>
                   
                </tr>

                <tr>
                    <td> <strong>Calzone de Roquefort</strong> <i>(Muzzarella, Jamón, Roquefort) </i></td>
                    <td>$8500</td>
                    <td>$13000</td>
                </tr>

                <tr>
                    <td> <strong>Calzone de Palmitos</strong> <i>(Muzzarella, Jamón, Palmitos, Salsa Golf) </i></td>
                    <td>$13000</td>
                    <td>$20000</td>
                    
                </tr>


            </table>

        </section>



        <section>

            <h2><u>Empanadas y Faina</u></h2>
            
            <table border="6">

                <tr>
                    <th> VARIEDAD</th>
                    <th> UNIDAD </th>
                    <th>DOCENA <br> </th>
                </tr>
                
                <tr>
                    <td>CARNE</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>

                <td>POLLO</td>
                <td>$1000</td>
                <td>$10500</td>
                
                <tr>
                    <td>JAMÓN Y QUESO</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr> 

                <tr>
                    <td>HUMITA</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>

                <tr>
                    <td>CAPRESSE</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>

                <tr>
                    <td>PANCETA</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>

                <tr>
                    <td>VERDURA</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>
                <tr>
                    <td>ROQUEFORT Y CEBOLLA</td>
                    <td>$1000</td>
                    <td>$10500</td>
                </tr>

                <tr>
                    <td>FAINA</td>
                    <td>$750</td>
                    <td> ---------</td>
                </tr>

            </table>

        </section>


        <section>
            <h2><u>Postres</u></h2>
            
            <table border="6">

            <tr>
                <td> <strong>Mousse</strong></td>
                <td> $4000</td>
            </tr>

            <tr>
                <td> <strong>Flan</strong></td>
                <td>  $3500</td>
            </tr>

            <tr>
                <td> <strong>Bombon Suizo</strong></td>
                <td>  $2500</td>
            </tr>

            <tr>
                <td> <strong>Almendrado</strong></td>
                <td>  $2500 </td>
            </tr>

            <tr>
                <td><strong>Helado <i>(1 bocha)</i></strong></td>
                <td> $1500 </td>
            </tr>

            <tr>
                <td><strong> Helado <i>(2 bochas)</i></strong></td>
                <td>$2500</td>
            </tr>
            <tr>
                <td><strong> Adicional Crema y/o Dulce de leche</strong></td>
                <td>$1000</td>
            </tr>  
                
        </table>
        </section>

        <section>
            <h2><u>Bebidas sin alcohol</u></h2>
            
            <table border="6">

                <tr>
                    <td><strong>Agua mineral sin gas</strong> <i>(Eco de los Andes, 500 ml)</td>
                    <td>$1800</td>
                </tr>

                <tr>
                    <td><strong>Agua mineral con gas </strong><i>(Eco de los Andes, 500 ml)</td>
                    <td>$1800</td>
                </tr>

                <tr>
                    <td><strong>Lata Gaseosa</strong> <i>(Línea Pepsi, 354 ml)</i></td>
                    <td>$2000</td>
                </tr>

                <tr>
                    <td><strong>Botella Gaseosa </strong> <i>(Línea Pepsi, 1500 ml)</td>
                    <td>$3500</td>
                </tr>

                <tr>
                    <td><strong>Agua Saborizada </strong><i> (Aquarius, 500 ml)</i></td>
                    <td>$2000</td>
                </tr>

            </table>
             
            <h2><u>Bebidas con alcohol</u></h2>

            <h3> <ul> <li>Cervezas</li> </ul></h3>

            <table border="6">

<tr>
    <th>Variedad</th>
    <th>Lata <i>(473 ml)</i></th>
    <th>Botella <i>(970 ml)</i></th>
</tr>

<tr>
    <td>Quilmes Cristal</td>
    <td> $1800</td>
    <td>$2800</td>
</tr>

<tr>
    <td>Quilmes 1890</td>
    <td>$2000</td>
    <td>$3000</td>
</tr>

<tr>
    <td>Quilmes Stout</td>
    <td>$2000</td>
    <td>$3000</td>
</tr>

<tr>
    <td>Andes Dorada</td>
    <td>$2200</td>
    <td>$3200</td>
</tr>

<tr>
    <td>Andes Ipa</td>
    <td>$2200</td>
    <td>$3200</td>
</tr>

<tr>
    <td>Andes Roja</td>
    <td>$2200</td>
    <td>$3200</td>
</tr>

<tr>
    <td>Stella Artois</td>
    <td>$2500</td>
    <td>$3500</td>
</tr>

<tr>
    <td>Stella Noire</td>
    <td>$2500</td>
    <td>$3500</td>
</tr>

            </table>
            
            <h3> <ul> <li> Vinos</li> </ul></h3>

        <table border="6">

<tr>
    <th>Tintos</th>
    <th>Botella 3/8</th>
    <th>Botella 3/4</th>
</tr>
<tr>
    <td>López </td>
    <td>$3500</td>
    <td>$5000</td>
</tr>

<tr>
    <td>San felipe</td>
    <td>$3500</td>
    <td>$5000</td>
</tr>

<tr>
    <td>Valmont</td>
    <td>$3500</td>
    <td>$5000</td>
</tr>

<tr>
    <td>Latitud 33</td>
    <td>$4000</td>
    <td>$6000</td>
</tr>

<tr>
    <td>Emilia </td>
    <td>$4500</td>
    <td>$7000</td>
</tr>

</table>

<br> <br> 

<table border="6">

        <tr>
            <th>Blancos</th>
            <th>Botella 3/8</th>
            <th>Botella 3/4</th>
        </tr>

        <tr>
            <td>Rincón Famoso</td>
            <td>$3000</td>
    <td>$4500</td>
        </tr>

        <tr>
            <td>López </td>
            <td>$3500</td>
    <td>$5000</td>
        </tr>

        <tr>
            <td>San felipe</td>
            <td>$3500</td>
    <td>$5000</td>
        </tr>

        <tr>
            <td>Castel Chandon</td>
            <td>$4000</td>
    <td>$6000</td>
        </tr>
        
        <tr>
            <td>Emilia </td>
            <td>$4500</td>
            <td>$7000</td>
        </tr>
       
                </table>

        </section>

    </main>


    <footer>
        <br> <br> <br> 

        <strong> <u>Dirección:</u> </strong> <i> Bernardo de Irigoyen 3498 </i> <br>
        <strong> <u>Teléfonos:</u> </strong> <i> 451-6194 / 486-3137 </i> <br>
        <strong> <u>Días y horarios de atención:</u> </strong> <i> Todos los días de 19 a 23.30 hs</i>

    </footer>

</body>

</html>