* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
#logo {
    width: 20%;
    background-color: rgb(35, 66, 44);
}

header {
    background-color: rgb(35, 66, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid rgba(206, 80, 77, 255);
}

.Titulo {
    color: white;
}

#Textopp {
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: normal;
}

#encabezado{
    font-family: "Lobster", sans-serif;
    font-weight: normal;
}
i {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}


nav {
    display: flex;
    justify-content: space-around;
    padding: 1% 0%;
    align-items: center;
    border-bottom: 5px solid rgba(206, 80, 77, 255);
}

a {
    text-decoration: none;
    color: black;
    font-family: "Lobster", sans-serif;
}

.carousel {
    position: relative;
    max-width: 90%;
    /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
    /* Centra el carrusel en la página */
    overflow: hidden;
    /* Oculta las imágenes que están fuera del carrusel */
    padding: 2%;
    height: 400px;

}

.carousel-slide {
    display: none;
    /* Oculta todas las imágenes por defecto */
    width: 100%;
    /* Ajusta el ancho de las imágenes al 100% del carrusel */
}

.carousel-slide img {
    width: 100%;
    /* Ajusta el ancho de las imágenes al 100% del carrusel */
    height: auto;
    /* Ajusta la altura automáticamente para mantener la proporción */
}

.imgcarru {
    height: 100%;
}
.carrusel{
    padding-bottom: 2%;
}
h2,
p {
    padding-bottom: 1%;
    padding-top: 1%;
}

h2 {
    font-family: "Lobster", sans-serif;
    text-align: center;
}
p{
    padding: 0% 6%;
    text-align: justify;
    font-family: "Kameron", serif;
}

.barra{
    border-top: 5px solid rgba(206, 80, 77, 255);
}

.links{
    display: flex;
    justify-content: space-around;
    border-top: 5px solid rgba(206, 80, 77, 255);
    padding: 1% 0%;
}
footer{
    border-top: 5px solid rgba(206, 80, 77, 255);
    padding: 1% 0%;
    background-color: rgb(35, 66, 44);
    color: white;
}

u{
    font-family: "Kameron", serif;
}

.reseña{
    padding: 10px;
    display:flex;
    flex-direction: column;
}

#reseña{
    width: 300px;
    height: 500px;
}

#Contac{
    font-size: 300%;
    color:  rgba(206, 80, 77, 255);
    font-family: "Lobster", sans-serif;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 20%;
}
.botton{
    border-radius: 50px;
    padding: 0.5%;
    border: 2px solid rgba(206, 80, 77, 255);
    }
.bottonm{
    border-radius: 25px;
    padding: 0.5%;
    border: 2px solid rgba(206, 80, 77, 255);
}

#motivo{
    border-radius: 50px;
    padding: 0.2%;
    border: 2px solid rgba(206, 80, 77, 255);
}
#tform{
    font-size: 100%;
    font-family: "Lobster", sans-serif;
}
.check{
    display: flex;
    justify-content: center;
}
.enviar{
    display: block;
    margin: 0 auto;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid rgba(206, 80, 77, 255);
    background-color: rgba(206, 80, 77, 255);
    color: white;
    padding: 2%;
    width: 200px;
    font-size: 100%;
    cursor: pointer;
}

.Promo{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas iguales */
    gap: 5px; /* Espacio entre las columnas */
}
.column {
    margin: 0px 80px;
    padding:  30px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas iguales */   
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

#promo{
    width: 200px;
    height: 200px; 
}

.añadir{
    display: block;
    margin: 0 auto;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid rgba(206, 80, 77, 255);
    background-color: rgba(206, 80, 77, 255);
    color: white;
    padding: 2%;
    width: 150px;
    font-size: 100%;
    cursor: pointer;
}

.columnpizzas {
    margin: 0px 98px;
    padding:  30px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea dos columnas iguales */   
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

#name{
    font-size: 120%;
    color: rgba(206, 80, 77, 255);
    text-align: center;
}

.tablas{
    display: flex;
    justify-content: center;   
}

#tablaprecios{
    width: 70%;
    padding: 2px;
}


.tr,th, td{
    border: 1px solid black; /* Borde en todas las celdas */
    padding: 8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}



