<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Francesco: Contacto</title>
    <link rel="shortcut icon" href="../static/img/LOGO Y FAVICON/FAVICON EDITADO BUENA DEFINICION.ico"
        type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <header>

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: left; width: 22%">

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: right; width: 22%;">

        <h1 style=text-align:center> Francesco, pizza a la piedra. <br> <br> Cocinando las mejores pizzas para vos
            <i>desde 1985.</i> </h1>

    </header>

    <nav>

        <br> <br> <br> <br>

        <a href="../index.html">INICIO</a> <br>

        <a href="./menu_salon.html">Menú Salón</a> <br>

        <a href="./menu_delivery.html">Menú Delivery</a> <br>

        <br> <br> <br> <br>

    </nav>

    <main>
               
          
                <h2> <u>Formulario de contacto: </u> </h2> <br> 

                <form action="#" method="GET" novalidate>

                    <label for="name">Nombre:</label>
                    <input type="text" size="30"    id="name" name="name" placeholder="Ingrese su Nombre y Apellido..." required> <br><br>
            
                    <label for="email"> Correo electrónico: </label>
                    <input type="email" size="30" id="email" name="email" placeholder="Ingrese su Dirección de Correo..." required><br><br>

                    <label for="edad">Edad: </label>
                    <input type="number" size="30" id="edad" name="edad" placeholder="Ingrese su Edad..." required><br><br>

                    <label for="celular"> Teléfono Celular: </label>
                    <input type="tel" size="30" id="celular" name="celular" placeholder="Ingrese su Número de Celular..." required><br><br> <br>

                    <label for="motivo">Motivo de la consulta:</label>
                    <select id="motivo" name="motivo" required>
                      <option value="">Seleccione el motivo</option>
                      <option value="recetas">Realizar una reserva</option>
                      <option value="ingredientes">Consultar sobre los días y horarios de apertura</option>
                      <option value="nueva">Realizar una crítica, queja o reclamo</option>
                      <option value="sugerencias">Realizar una sugerencia, propuesta o recomendación</option>
                      <option value="otros">Otros motivos</option>
                    </select>      <br><br> <br>

                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="4" cols="50" placeholder="Escriba aquí su mensaje..." required></textarea><br><br> <br>

                    <input type="checkbox" id="suscribirse" name="suscribirse">
                    <label for="suscribirse"> Deseo recibir información con las últimas promociones y novedades de Francesco en mi correo </label> <br><br> <br>
            
                    <button type="submit"> Enviar </button>
                 
                </form>
            </section>
        </main>


    </main>

    <footer>
        <br> <br> <br>

        <strong> <u>Dirección:</u> </strong> <i> Bernardo de Irigoyen 3498 </i> <br>
        <strong> <u>Teléfonos:</u> </strong> <i> 451-6194 / 486-3137 </i> <br>
        <strong> <u>Días y horarios de atención:</u> </strong> <i> Todos los días de 19 a 23.30 hs</i> <br>
        <strong> <u>Consultas:</u> </strong> francesco@hotmail.com

    </footer>

</body>

</html>