<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Francesco: Registrate</title>
    <link rel="shortcut icon" href="static/img/LOGO Y FAVICON/FAVICON EDITADO BUENA DEFINICION.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <header>

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: left; width: 22%">

        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" alt="Logo Francesco"
            style="float: right; width: 22%;">

        <h1 style=text-align:center> Francesco, pizza a la piedra. <br> <br> Cocinando las mejores pizzas para vos <i>desde 1985.</i> </h1>

    </header>

    <nav>

        <br> <br> <br> <br>

       <a href="../index.html">INICIO</a> <br>

        <a href="./menu_salon.html">Menú Salón</a> <br>

        <a href="./menu_delivery.html">Menú Delivery</a> <br>

        <br> <br> <br> <br>

    </nav>

    <main>

<p style=text-align:center> <strong>Registrate para conocer y estar al tanto de nuestras promociones vigentes, actualizaciones en el menú, <br> modificaciones en el horario de atención (incluyendo cierre por reformas o vacaciones) y mucho mas!!! </strong> </p>

    </main>

        <footer>
            <br> <br> <br> 

            <strong> <u>Dirección:</u> </strong> <i> Bernardo de Irigoyen 3498 </i> <br>
            <strong> <u>Teléfonos:</u> </strong> <i> 451-6194 / 486-3137 </i> <br>
            <strong> <u>Días y horarios de atención:</u> </strong> <i> Todos los días de 19 a 23.30 hs</i>

        </footer>

</body>

</html>