<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Francesco: Menú Delivery</title>
    <link
      rel="shortcut icon"
      href="../static/img/LOGO Y FAVICON/FAVICON EDITADO BUENA DEFINICION.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    
  </head>


<body>

    <header>
        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" id="logo" class="logo-left"/>
  
        <div class="Titulo">
          <h1 id="Textopp">
            Francesco, pizza a la piedra. <br />
            <br />
            Cocinando las mejores pizzas para vos
            <i id="encabezado">desde 1985.</i>
          </h1>
        </div>
        <img src="../static/img/LOGO Y FAVICON/LOGO EDITADO BUENA DEFINICION.jpeg" id="logo" class="logo-right"/>
    </header>

      <nav>
        <a href="menu_salon.html">Menú Salón</a>
        <a href="../index.html">Inicio</a>
        <a href="contacto.html">Contacto</a>
      </nav>
        <main>     
            <p id="Contac"> Menú Delivery</p>

    <div class="columnpizzas">
        <div>
            <img
            src="../static/img/PIZZAS/PROVOLONE EDITADA.jpg"
            alt="PROVOLONE"
            width="280px"
            height="250px"
            />
            <p id="name">PROVOLONE</p>
        </div>
        <div>
            <img
            src="../static/img/PIZZAS/SICILIANA EDITADA PRO.jpeg"
            alt="SICILIANA"
            width="280px"
            height="250px"
            />
            <p id="name">SICILIANA</p>
        </div>
        <div>
        <img
        src="../static/img/PIZZAS/PANCETA EDITADA.jpg"
        alt="PANCETA"
        width="280px"
        height="250px"
        />
        <p id="name">PANCETA</p>
        </div>
        <div>
            <img
            src="../static/img/PIZZAS/ANANÁ EDITADA PRO.jpeg"
            alt="ANANÁ"
            width="280px"
            height="250px"
            height="250px"
            />
            <p id="name">ANANÁ</p>
        </div>
        <div>
            <img
            src="../static/img/PIZZAS/Rúcula-Española EDITADA.jpg"
            alt="Rúcula/Española"
            width="280px"
            height="250px"
            height="200px"
            />
            <p id="name">RÚCULA / ESPAÑOLA</p>
        </div>
        <div>
            <img
            src="../static/img/PIZZAS/ESPECIAL-CHAMPIGÑON EDITADA.jpg"
            alt="ESPECIAL / CHAMPIÑÓN"
            width="280px"
            height="250px"
            />
            <p id="name">ESPECIAL / CHAMPIÑÓN</p>
        </div>
    </div>    

    <section>
        <H2 id="Contac"> Promociones Imperdibles </H2>
        <div class="Promo">
            <div class="column">
                <div>
                    <strong> COMBO 1: </strong> 
                   <br><br>
                    3 Muzzarellas Grandes +
                    1 Botella Gaseosa (1500 ml)
                    <br> <br>
                     <h2><i id="encabezado">$20.000</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/1.png" id="promo" />
                </div>
            </div>

            <div class="column">
                <div>
                    <strong> COMBO 2: </strong> 
                   <br><br>
                    2 Muzzarellas Grandes + 2 Docenas de Empanadas
                    <br> <br>
                     <h2><i id="encabezado">$26.500</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/2.png" id="promo" />
                </div>
            </div>

            <div class="column">
                <div>
                    <strong> COMBO 3: </strong> 
                   <br><br>
                   3 Docenas de Empanadas + 1 Botella Gaseosa (1500 ml)
                    <br> <br>
                     <h2><i id="encabezado">$25.000</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/3.png" id="promo" />
                </div>
            </div>   

            <div class="column">
                <div>
                    <strong> COMBO 4: </strong> 
                   <br><br>
                   1 Muzzarella Grande + 1 Fugazzetta Grande + 1 Napolitana Grande
                    <br> <br>
                     <h2><i id="encabezado">$19.000</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/4.png" id="promo" />
                </div>
            </div> 

            <div class="column">
                <div>
                    <strong> COMBO 5: </strong> 
                   <br><br>
                   1 Muzzarella Grande + 1 Especial Grande + 1 Docena de Empanadas
                    <br> <br>
                     <h2><i id="encabezado">$21.000</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/5.png" id="promo" />
                </div>
            </div> 

            <div class="column">
                <div>
                    <strong> COMBO 6: </strong> 
                   <br><br>
                   1 Muzzarella Grande + 1 Fugazzetta Rellena Especial +  1 Botella Gaseosa (1500 ml)
                    <br> <br>
                     <h2><i id="encabezado">$18.000</i></h2>
                </div>
                <div>
                    <img src="../static/img/PIZZAS/Promos/5.png" id="promo" />
                </div>
            </div> 

        </div>
            
<h6 id="Contac"> Nuestras Pizzas </h6>   

<section class="tablas">
    <table id="tablaprecios">

        <tr>
            <th>VARIEDAD</th>
            <th>CHICA <br> <i>(4 porciones)</i> </th>
            <th>GRANDE <br> <i>(8 porciones)</i> </th>
        </tr>

        <tr>
            <td> <strong>Muzzarella </strong> <i>(Salsa de Tomate, Muzzarrella, Aceitunas Verdes, Orégano)</i> </td>
            <td>$4000</td>
            <td>$6500</td>
        </tr>
        <tr>
            <td><strong>Muzzarella con Albahaca</strong> <i>(Salsa de Tomate, Muzzarrella, Albahaca, Aceitunas Verdes, Orégano)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>

        <tr>
            <td><strong>Muzzarella con Rúcula</strong> <i>(Salsa de Tomate, Muzzarrella, Rúcula, Aceitunas Verdes, Orégano)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>

        <tr>
            <td><strong>Muzzarella con Anchoas</strong> <i>(Salsa de Tomate, Muzzarrella, Anchoas, Aceitunas Verdes, Orégano)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>

        <tr>
            <td><strong>Anchoas</strong> <i>(Salsa de Tomate, Anchoas, Orégano)</i></td>
            <td>$4000</td>
            <td>$6500</td>
        <tr>

            <tr>
                <td><strong>Ajo al Olio</strong> <i>(Salsa de Tomate, Ajo picado, Perejil)</i></td>
                <td>$2500</td>
                <td>$4000</td>
            </tr>

            <tr>
                <td> <strong>Jamón</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Aceitunas Verdes, Orégano)</i> </td>
                <td>$5000</td>
                <td>$7500</td>
            </tr>

            <td> <strong>Especial</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Morrones, Aceitunas Verdes, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td><strong>Nevada</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Huevo Duro, Aceitunas Verdes, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        </tr>
        <tr>
            <td><strong>Napolitana</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Orégano, Ajo, Perejil)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>
        <tr>
            <td><strong>Napolitana con Albahaca</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Albahaca, Orégano, Ajo, Perejil)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>
        <tr>
            <td><strong>Napolitana Especial</strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Jamón, Orégano, Ajo, Perejil)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong>Calabresa </strong> <i>(Salsa de Tomate, Muzzarrella, Longaniza Calabresa, Orégano)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>
        <tr>
            <td><strong> Española</strong> <i>(Salsa de Tomate, Muzzarrella, Cantimpalo, Morrones, Aceitunas Verdes, Orégano)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong> Panceta </strong> <i>(Salsa de Tomate, Muzzarrella, Panceta, Cebolla de Verdeo, Aceitunas Verdes, Orégano)</i></td>
            <td>$5500</td>  
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong>Sorrentina </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Gratinado de Provolone, Morrones, Orégano)</i></td>
            <td>$6000</td>
            <td>$9500</td>
        </tr>

        <tr>
            <td> <strong>Roquefort </strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort Aceitunas, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong>Provolone </strong> <i>(Salsa de Tomate, Muzzarrella, Provolone, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong> 4 Quesos </strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort, Provolone, Reggianito, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td><strong>Siciliana </strong> <i>(Salsa de Tomate, Muzzarrella, Rodajas de Tomate, Huevo Duro, Longaniza Calabresa, Aceitunas Verdes, Orégano)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td><strong>Champiñón </strong> <i>(Salsa de Tomate, Muzzarrella, Champiñones, Orégano)</i></td>
            <td>$6500</td>
            <td>$9500</td>
        </tr>

        <tr>
            <td><strong>Palmitos </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Palmitos, Salsa Golf, Aceitunas Negras, Orégano)</i></td>
            <td>$8500</td>
            <td>$14000</td>
        </tr>

        <tr>
            <td><strong>Palmitos a la Romana</strong> <i>(Salsa de Tomate, Muzzarrella, Roquefort, Jamón, Palmitos, Morrones, Aceitunas Negras, Orégano)</i></td>
            <td>$9000</td>
            <td>$15000</td>
        </tr>

        <tr>
            <td><strong> Ananá</strong> <i>(Salsa de Tomate, Muzzarrella, Jamón, Rodajas de Ananá, Cerezas)</i></td>
            <td>$7000</td>
            <td>$11500</td>
        </tr>

        <tr>
            <td><strong>Fugazza</strong> <i>(Cebolla, Aceite de Oliva, Orégano)</i></td>
            <td>$3000</td>
            <td>$5000</td>
        </tr>
        <tr>
            <td><strong>Fugazzetta </strong> <i>(Muzzarella, Cebolla, Aceite de Oliva, Orégano)</i></td>
            <td>$4500</td>
            <td>$7000</td>
        </tr>

        <tr>
            <td><strong>Fugazzetta Especial</strong> <i>(Muzzarella, Cebolla, Jamón, Aceite de Oliva, Orégano)</i></td>
            <td>$5000</td>
            <td>$7500</td>
        </tr>

        <tr>
            <td><strong>Fugazzetta con Roquefort </strong> <i>(Muzzarella, Cebolla, Roquefort, Aceite de Oliva, Orégano)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td><strong>Fugazzetta Rellena </strong> <i>(Doble masa rellena con Muzzarella, cubierta con Cebolla y Gratinado de Provolone)</i></td>
            <td>$6500</td>
            <td>$9500</td>
        </tr>

        <tr>
            <td><strong>Fugazzetta Rellena Especial </strong> <i> (Doble masa rellena con Muzzarella y Jamón, cubierta con Cebolla y Gratinado de Provolone)</i></td>
            <td>$7000</td>
            <td>$10500</td>
        </tr>

        <tr>
            <td><strong>Fugazzetta Rellena Napolitana </strong> <i>(Doble masa rellena con Muzzarella, Jamón, Rodajas de Tomate y Ajo, cubierta con Cebolla y Gratinado de Provolone)</i></td>
            <td>$7500</td>
            <td>$11500</td>
        </tr>

        <tr>
            <td><strong>Rúcula </strong> <i>(Salsa de Tomate, Muzzarrella, Jamón Crudo, Rúcula, Aceitunas Verdes, Orégano)</i></td>
            <td>$6500</td>
            <td>$9500</td>
        </tr>

        <tr>
            <td><strong> Pollo </strong> <i>(Salsa de Tomate, Muzzarrella, Pollo Salteado, Morrones, Aceitunas Verdes, Orégano, Perejil)</i></td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

        <tr>
            <td> <strong> Espinaca </strong> <i>(Salsa de Tomate, Muzzarrella, Espinaca, Gratinado de Provolone, Aceitunas Verdes, Orégano)</i> </td>
            <td>$5500</td>
            <td>$8500</td>
        </tr>

</table>
</section>

<h2 id="Contac">Calzones</h2>

<section class="tablas">
                        
            <table id="tablaprecios">

                <tr>
                    <th> VARIEDAD</th>
                    <th>CHICO <br> <i>(4 porciones)</i> </th>
                    <th>GRANDE <br> <i>(8 porciones)</i> </th>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone Napolitano</strong> <i>(Muzzarella, Jamón, Tomate, Ajo) </i></td>
                    <td>$5500</td>
                    <td>$9000</td>
                  
                </tr>

                <tr>
                    <td> <strong>Calzone Calabrés</strong> <i>(Muzzarella, Jamón, Provolone, Longaniza Calabresa) </i> </td>
                    <td>$5500</td>
                    <td>$8500</td>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone de Pollo</strong> <i>(Muzzarella, Jamón, Pollo Salteado, Morrones)</i></td>
                    <td>$6500</td>
                    <td>$10000</td>
                    
                </tr>

                <tr>
                    <td> <strong>Calzone de Verdura</strong> <i>(Muzzarella, Jamón, Espinaca, Provolone, Morrones)</i> </td>
                    <td>$6500</td>
                    <td>$10000</td>
                   
                </tr>

                <tr>
                    <td> <strong>Calzone de Roquefort</strong> <i>(Muzzarella, Jamón, Roquefort) </i></td>
                    <td>$7500</td>
                    <td>$11500</td>
                </tr>

                <tr>
                    <td> <strong>Calzone de Palmitos</strong> <i>(Muzzarella, Jamón, Palmitos, Salsa Golf) </i></td>
                    <td>$11500</td>
                    <td>$18000</td>
                    
                </tr>


            </table>

        </section>

    <h2 id="Contac">Empanadas</h2>

        <section class="tablas">          
            
            <table id="tablaprecios">

                <tr>
                    <th> <strong>VARIEDAD</strong></th>
                    <th> UNIDAD </th>
                    <th>DOCENA <br> </th>
                </tr>
                
                <tr>
                    <td><strong>Carne</strong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>

                <td><strong>Pollo</strong></td>
                <td>$800</td>
                <td>$8500</td>
                
                <tr>
                    <td><strong>Jamón y queso </strong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr> 

                <tr>
                    <td><strong>Humita</strong>HUMITA</td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>

                <tr>
                    <td><strong>Capresse</strong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>

                <tr>
                    <td><strong>Panceta</strong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>

                <tr>
                    <td><strong>Verdura</strong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>
                <tr>
                    <td><STRong>Roquefort y Cebolla </STRong></td>
                    <td>$800</td>
                    <td>$8500</td>
                </tr>

                <tr>
                    <td><Strong>Faina</Strong></td>
                    <td>$600</td>
                    <td> --------</td>
                </tr>

            </table>

        </section>

         <h2 id="Contac">Bebidas sin alcohol</h2>

        <section class="tablas">           
            <table id="tablaprecios" > 

                <tr>
                    <td><strong>Agua mineral sin gas</strong> <i>(Eco de los Andes, 500 ml)</td>
                    <td>$1500</td>
                </tr>

                <tr>
                    <td><strong>Agua mineral con gas </strong><i>(Eco de los Andes, 500 ml)</td>
                    <td>$1500</td>
                </tr>

                <tr>
                    <td><strong>Lata Gaseosa</strong> <i>(Línea Pepsi, 354 ml)</i></td>
                    <td>$1700</td>
                </tr>

                <tr>
                    <td><strong>Botella Gaseosa </strong> <i>(Línea Pepsi, 1500 ml)</td>
                    <td>$3000</td>
                </tr>

                <tr>
                    <td><strong>Agua Saborizada </strong><i> (Aquarius, 500 ml)</i></td>
                    <td>$1700</td>
                </tr>

            </table>
        </section>

          
        <p id="Contac"> Bebidas con alcohol </p>
        <p id="Contac"> Cervezas </p>

        <section class="tablas">
            <table id="tablapreciosx">

<tr>
    <th>Variedad</th>
    <th>Lata <i>(473 ml)</i></th>
</tr>

<tr>
    <td><strong>Quilmes Cristal</strong></td>
    <td> $1500</td>
</tr>

<tr>
    <td><strong>Quilmes 1890</strong></td>
    <td>$1700</td>
</tr>

<tr>
    <td><strong>Quilmes Stout</strong></td>
    <td>$1700</td>
</tr>

<tr>
    <td><strong>Andes Dorada</strong></td>
    <td>$1900</td>
</tr>

<tr>
    <td><strong>Andes Ipa</strong>Andes Ipa</td>
    <td>$1900</td>
</tr>

<tr>
    <td><strong>Andes Roja</strong></td>
    <td>$1900</td>
</tr>

<tr>
    <td><strong>Stella Artois</strong></td>
    <td>$2200</td>
</tr>

<tr>
    <td><strong>Stella Noire</strong></td>
    <td>$2200</td>
</tr>

        </table>

</section>

<p id="Contac"> Vinos Tintos </p>

<section class="tablas">
    <table id="tablapreciosx">


        <tr>
            <th>Tintos</th>
            <th>Botella 3/8</th>
            <th>Botella 3/4</th>
        </tr>
        <tr>
            <td>López</td>
            <td>$3000</td>
            <td>$5000</td>
        </tr>
        
        <tr>
            <td>San felipe</td>
            <td>$3000</td>
            <td>$5000</td>
        </tr>
        
        <tr>
            <td>Valmont</td>
            <td>$3000</td>
            <td>$5000</td>
        </tr>
        
        <tr>
            <td>Latitud 33</td>
            <td>$3500</td>
            <td>$6000</td>
        </tr>
        
        <tr>
            <td>Emilia </td>
            <td>$4000</td>
            <td>$7000</td>
        </tr>  

    </table>

    <br> <br>
</section>


<p id="Contac"> Vinos Blancos </p>

<section class="tablas"> 
<table id="tablapreciosx">  

        <tr>
            <th>Blancos</th>
            <th>Botella 3/8</th>
            <th>Botella 3/4</th>
        </tr>
<tr>
    <td>Rincón Famoso</td>
    <td>$3000</td>
    <td>$5000</td>
</tr>

<tr>
    <td>López</td>
    <td>$3000</td>
    <td>$5000</td>
</tr>

<tr>
    <td>San felipe</td>
    <td>$3000</td>
    <td>$5000</td>
</tr>

<tr>
    <td>Castel Chandon</td>
    <td>$3500</td>
    <td>$6000</td>
</tr>

<tr>
    <td>Emilia</td>
    <td>$4000</td>
    <td>$7000</td>
</tr>

</table>

</section>

    </main>

<br><br>
    <footer>
        <p><u>Dirección:</u> Bernardo de Irigoyen 3498</p>
        <p><u>Teléfonos:</u> 451-6194 / 486-3137 Días y</p>
        <p><u>Horarios de atención:</u>Todos los días de 19 a 23.30 hs</p>
        <p><u>Consultas:</u> francesco@hotmail.com</p>
      </footer>

</body>

</html> 